@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.video-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  > h1 {
    font-size: 2rem;
    color: color.$green-50;
  }

  > video {
    width: 20rem;
  }

  border-radius: 0.2rem;

  background-color: rgba(color.$green-900, 0.4);
  box-shadow: 5px 2px 5px rgba(color.$green-900, 0.2);

  padding: 1rem 1rem 2rem 1rem;

  @include sm {
    // width: 20rem;
  }

  @include md {
    // width: 50%;
  }

  @include lg {
    > video {
      width: 26rem;
    }
    > h1 {
      font-size: 2.5rem;
    }
  }

  @include xl {
    // width: 50%;
  }
}
