@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  gap: 1.3rem;
  // padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  width: 20rem;
  height: 22rem;

  border-radius: 0.3rem;

  background-color: color.$green-500;
  box-shadow: 5px 2px 5px rgba(color.$green-900, 0.7);

  padding: 2rem;
  gap: 1rem;

  > svg {
    font-size: 2rem;
    color: white;
  }

  > h2 {
    font-size: 2rem;
    color: white;
  }

  > p {
    font-size: 1.5rem;
    color: white;
  }

  > a {
    font-size: 1.2rem;
    color: white;
    border-radius: 0.3rem;
    text-decoration: underline;
    &:visited {
      text-decoration: none;
    }
    &:hover {
      color: color.$green-900;
    }
  }

  &:hover {
    box-shadow: 6px 6px 6px (color.$green-800), 0 2px 6px (color.$green-800);
  }
}

.reverse {
  flex-direction: row-reverse;
}
