@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.card {
  // display: flex;
  // object-fit: cover;

  > video {
    width: 20rem;
  }

  border-radius: 0.1rem;

  background-color: color.$green-800;
  box-shadow: 5px 2px 5px rgba(color.$green-900, 0.7);

  padding: 1rem;

  @include sm {
    // width: 20rem;
  }

  @include md {
    // width: 50%;
  }

  @include lg {
    // width: 60%;
  }

  @include xl {
    // width: 50%;
  }
}
