@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */

  border: 1px solid black;

  gap: 1rem;
  padding: 1rem;

  min-height: 23rem;
  width: 100%;

  // margin-top: ;

  > h3 {
    font-size: 2rem;
    color: color.$green-400;
  }

  > p {
    font-size: 1.3rem;
    color: color.$green-50;

    width: 80%;
  }

  > span {
    font-size: 1.3rem;
    color: color.$green-50;
    text-decoration: underline;
  }

  > button {
    display: flex;
    text-align: center;
    align-items: center;

    gap: 0.3rem;

    padding: 0.7rem;
    border-radius: 0.4rem;

    background-color: color.$green-400;
    color: color.$green-50;
    border: 1px solid color.$green-400;

    &:hover {
      background-color: color.$green-50;
      color: color.$green-400;
      border: 1px solid color.$green-400;
    }
  }
}

@include lg {
  .contact-card {
    max-width: 35rem;
    > h3 {
      font-size: 3rem;
    }
  }
}
