@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.cta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 2rem 1rem;

  gap: 1rem;

  background-color: color.$green-50;

  > a {
    background-color: color.$green-400;

    padding: 1rem;

    font-size: 1.2rem;

    font-weight: 900;

    border-radius: 0.3rem;

    color: color.$green-50;

    border: 1px solid color.$green-50;

    &:hover {
      background-color: color.$green-50;
      border: 1px solid color.$green-400;
      color: color.$green-400;
    }
  }
}

.cta-titles {
  padding: 1rem;
  max-width: 50rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  > h1 {
    color: color.$green-700;
    font-size: 3rem;
  }
  > p {
    color: color.$green-800;
    font-size: 1.5rem;
  }
}

@include md {
  .cta-section {
    > h1 {
      font-size: 3rem;
    }
    > p {
      color: color.$green-50;
      font-size: 1.5rem;
    }
  }
}
