$gray-50: #f2f2f2;
$gray-100: #d9d9d9;
$gray-200: #bfbfbf;
$gray-300: #a6a6a6;
$gray-400: #8c8c8c;
$gray-500: #737373;
$gray-600: #595959;
$gray-700: #404040;
$gray-800: #262626;
$gray-900: #0d0d0d;

$blue-50: #eafaf8;
$blue-100: #c0f1eb;
$blue-200: #96e8de;
$blue-300: #6ddfd1;
$blue-400: #43d6c3;
$blue-500: #29bcaa;
$blue-600: #209284;
$blue-700: #17695e;
$blue-800: #0e3f39;
$blue-900: #051513;

$green-50: #edf8ee;
$green-100: #c9e9cc;
$green-200: #a4daab;
$green-300: #80cb89;
$green-400: #5cbc67;
$green-500: #43a34d;
$green-600: #347f3c;
$green-700: #255b2b;
$green-800: #16361a;
$green-900: #071209;
