@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.products-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.banner {
  margin-top: 5.7rem;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 15rem;

  text-align: center;

  > img {
    width: 100%;
    height: 15rem;
    display: block;
    object-fit: cover;
    position: absolute;
    opacity: 0.9;
    filter: contrast(1.4);
    z-index: -1;
  }

  @include sm {
    margin-top: 0rem;
  }

  @include md {
    height: 30rem;
    > img {
      height: fit-content;
    }
  }

  @include xl {
  }

  @include x2l {
    height: 40rem;
  }

  .text-div {
    width: 14rem;
    > h2 {
      font-size: 2rem;
      color: color.$green-50;
    }
    > p {
      color: color.$green-50;
    }

    > a {
      color: color.$green-50;
      text-decoration: underline;
      &:hover {
        color: color.$green-500;
      }
      :visited {
        color: color.$green-50;
        text-decoration: none;
      }
    }
    @include sm {
      width: 20rem;

      > h2 {
        font-size: 2.5rem;
        color: color.$green-50;
      }
      > p {
        font-size: 1.5rem;
        color: color.$green-50;
      }
    }

    @include lg {
      width: 35rem;
      > h2 {
        font-size: 4rem;
      }
      > p {
        font-size: 2.5rem;
      }

      > a {
        font-size: 2rem;
      }
    }
  }
}
