@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  background-color: color.$green-50;
}
