@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 15rem;
  min-height: 22rem;

  @include lg {
    width: 20rem;
    min-height: 25rem;
  }

  border-radius: 0.1rem;

  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  padding: 1rem;

  border: thin 1px color.$green-700;

  &:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }

  > h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  > img {
    width: 100%;
  }
}

.details-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;

  > h3 {
    font-size: 1.2rem;
  }

  > p {
    font-size: 1.2rem;
  }

  .product-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.open-close {
  text-align: left;
  color: color.$green-900;

  &:hover {
    color: color.$green-400;
    text-decoration: underline;
  }
}

.price-div {
  display: flex;
  text-align: center;
  gap: 1rem;

  > h3 {
    font-size: 1.2rem;
  }

  > p {
    font-size: 1rem;
    font-family: sans-serif;
    align-self: center;
    justify-self: center;
  }
}
