@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 15rem;
  min-height: 22rem;

  border-radius: 0.1rem;
  border: thin 1px color.$green-700;

  background-color: color.$green-50;

  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  &:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }

  @include lg {
    width: 20rem;
    min-height: 25rem;
  }
}

.product-image {
  > img {
    width: 100%;
  }
}

.details-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;

  padding: 1rem;

  > h3 {
    font-size: 1.2rem;
  }

  > h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  > p {
    font-size: 1.2rem;
  }

  .product-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.open-close {
  text-align: left;
  color: color.$green-600;
  text-decoration: underline;

  &:hover {
    color: color.$green-300;
    text-decoration: underline;
  }
}

.price-div {
  display: flex;

  justify-content: center;
  align-items: center;

  > p {
    font-size: 1rem;
  }

  > span {
    font-family: Helvetica, sans-serif;
  }
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-now {
  background-color: color.$green-400;
  color: color.$green-50;
  border: 1px solid color.$green-400;
  padding: 0.5rem;

  &:hover {
    background-color: color.$green-50;
    color: color.$green-400;
    border: 1px solid color.$green-400;
  }
}
