@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.product-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;

  > h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  > img {
    width: 100%;
  }
}

.details-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;

  > h3 {
    font-size: 1.2rem;
  }

  > p {
    font-size: 1.2rem;
  }

  .product-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    > button {
      text-align: left;
      color: color.$green-500;

      &:hover {
        color: color.$green-400;
        text-decoration: underline;
      }
    }
  }
}

.price-div {
  display: flex;
  text-align: center;
  gap: 1rem;

  > h3 {
    font-size: 1.2rem;
  }

  > p {
    font-size: 1rem;
    font-family: sans-serif;
    align-self: center;
    justify-self: center;
  }
}
