@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.products-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  > h1 {
    font-size: 3rem;
    color: color.$green-800;
  }
}

.products-wrapper {
  width: 100%;

  @include xl {
    width: 80%;
  }

  @include x2l {
    width: 60%;
  }

  .product-slide {
    height: calc((100% - 30px) / 2) !important;
    background-color: transparent;
    height: 20rem;
    padding: 2rem;
  }
}

.banner-container::before {
  content: "";

  position: absolute;
  display: block;
  background-image: url("/assets/vista-superior-ervas-secas-em-colheres.jpg");
  background-size: cover;
  opacity: 0.8;

  background-repeat: no-repeat;
  height: 25rem;
  margin-top: -3rem;
  width: 100%;
  z-index: -1;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  margin-top: 5rem;

  width: 100%;

  background-color: rgba(color.$green-900, 0.5);

  height: 22rem;

  > h1 {
    padding: 0.5rem 0rem;
    font-size: 3rem;
    color: color.$green-50;
  }
}

.search-box {
  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;

  width: 100%;

  .search-button {
    position: relative;
    right: 2rem;
  }

  > input {
    min-width: 20rem;
    padding: 1rem;
    border-radius: 0.3rem;
    outline: 1px solid color.$green-700;
  }

  @include md {
    margin-top: 0rem;
    width: 100%;
  }
}

@include sm {
  .banner-container {
    margin-top: -1rem;
    height: 20rem;
  }

  .banner-container::before {
    margin-top: 0rem;
    height: 20rem;
  }

  .banner-container::before {
    background-position: 100% 50%;
  }
}
