@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.video-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 2rem 1rem;

  gap: 1rem;

  width: 100%;
}

.video-titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50rem;
  gap: 1rem;

  padding: 2rem 1rem;

  text-align: left;
  > h1 {
    color: color.$green-50;
    font-size: 3rem;
    padding-top: 1rem;
  }
  > span {
    color: color.$green-900;
    font-weight: bolder;
    text-decoration: solid;
    font-size: 3rem;
  }

  > p {
    font-size: 1.3rem;
    color: color.$green-50;
  }
}

.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  text-align: center;

  background-color: color.$green-400;
}

@include md {
  .video-titles {
    > p {
      font-size: 1.7rem;
      color: color.$green-50;
    }
  }
}
