@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.video-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  background-color: color.$green-400;

  gap: 1rem;

  width: 100%;
}

.video-section {
}
