@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  padding-top: 2rem;
  gap: 2rem;

  width: 100%;
}

.cards-title {
  > h1 {
    font-size: 3rem;
    color: color.$green-700;
  }
}
