@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  gap: 2rem;

  width: fit-content;
}
