@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  gap: 2rem;

  width: 100%;

  background-image: url("/assets/variedades-doodle.png");
  background-repeat: repeat;
  background-size: contain;
  // background-size: cover;

  > h2 {
    margin-bottom: 3rem;
    font-size: 2.3rem;
    color: color.$green-800;
    border-bottom: 1px solid color.$green-800;
  }

  @include sm {
    > h2 {
      font-size: 5rem;
    }
  }
}
